* {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
     background-color: #fff;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }

    .login-box {
       background: linear-gradient(135deg, #3b8d99, #6b6b83, #aa4b6b);
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.2);
      max-width: 400px;
      width: 100%;
    }

    h2 {
      text-align: center;
      margin-bottom: 25px;
      color: #fff;
    }

    label {
      display: block;
      margin: 10px 0 5px;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #aaa;
      border-radius: 6px;
      margin-bottom: 15px;
      font-size: 14px;
    }

    button {
      width: 100%;
      background: gold;
      color: white;
      padding: 12px;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
    }

    button:hover {
      background: #ff9500;
    }

    .error {
      color: red;
      font-size: 13px;
      margin-top: -10px;
      margin-bottom: 10px;
    }

    .success {
      color: green;
      font-size: 14px;
      text-align: center;
      margin-top: 10px;
    }